body {
  background: #8496A5;
  font-family: arial, sans-serif;
}

/* WRAPPER STYLES */
.wrapper {
  background: #fff;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.wrapper p {
  font-size: 14px;
}

/* TOP BANNER STYLES */
#banner {
  max-height: 300px;
  overflow: hidden;
  margin: 1%;
  position: relative;
}

#banner h2 {
  position: absolute;
  top: 30px;
  width: 100%;
  margin: 0;
  text-align: center;
  color: white;
}

/* NAV STYLES */
nav {
  background: #3B3C39;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0 45px;
}

nav li {
  list-style-type: none;
  margin: 0 10px;
  color: #fff;
}
/* SERVICE TILES STYLES */
.services {
  height: auto;
  overflow: hidden;
  display: flex;
  margin: 50px 0 0;
}

.service h2, .service p {
  color: #999;
  margin: 10px 0;
  text-align: center;
}

.service {
  background: #E0E3E2;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
  height: auto;
}

.service img {
  width: 100%;
}

/* CONTENT COLUMNS STYLES */
.content {
  padding: 20px 1%;
  clear: left;
  margin: 15px 0 20px 0;
}

.content p {
  column-count: 3;
  column-gap: 50px;
  column-rule: 1px solid #ccc;
  text-align: left;
}

/* MAIN COLUMN STYLES */
.columns {
  display: flex;
}
section, aside {
  width: 46%;
  padding: 2%;
  margin: 1%;
  background: #E0E3E2;
  border-radius: 4px;
}

/* FOOTER STYLES */
#footer {
  background: #3B3C39;
  width: 100%;
}

#footer p {
  font-size: 14px;
  text-align: right;
  color: #eee;
  margin: 0 30px;
  padding: 20px 0;
}


